

<div class="container mx-auto w-full flex flex-col  gap-8 md:gap-16  py-16 md:py-32 relative overflow-hidden px-6 ">
    <h2 class="text-3xl md:text-5xl  text-azul  ">{{ section.settings.titulo }}</h2>
<div class="w-full container mx-auto relative overflow-hidden flex items-center flex-col md:flex-row gap-8 md:gap-4">
  <div class="w-full md:w-1/2 text-2xl md:text-3xl" >
    {{ section.settings.subtitulo | richtext }}
  </div>

  <div class="grid w-full md:w-1/2 grid-cols-3 gap-4 md:gap-8">
    {% for block in section.blocks %}
            <div class="flex flex-col gap-2 items-center justify-center {% unless forloop.first %}md:border-l md:border-[#0E3254]{% endunless %}">
                <img src="{{ block.settings.img | img_url: '2040x' }}" alt="Imagen Computadora" class="w-auto h-[40px]" loading="lazy">
                <p class="text-center">{{ block.settings.titulo }}</p>
            </div>
        {% endfor %}

  </div>
</div>



</div>



{% schema %}
    {
      "name": "ele-compromiso",
      "class": "ele-compromiso",
      "settings": [
        {
              "type": "text",
              "id": "titulo",
              "label": "Título",
              "default": "NUESTRO COMPROMISO"
           
            },{
              "type": "richtext",
              "id": "subtitulo",
              "label": "Subtitulo",
                "default": "<p>Corte preciso, ajuste funcional y calidad garantizada. Ese es el estándar detrás de cada diseño elē.</p>"
            }
        
        ],"blocks": [
      {
        "type": "icono",
        "name": "icono",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Imagen Computadora",
            "info": "1900 px X 750px"
          },{
              "type": "text",
              "id": "titulo",
              "label": "Título",
              "default": "Ajuste inteligente"
           
            }
        ]
      }
    ],
      "presets": [
        {
          "name": "ele-compromiso",
          "category": "ele-compromiso"
        }
      ]
    }
{% endschema %}
